{{ partial "dashboard/navbar.html" . }}
<div class="dashboard">
  <div class="dashboard-sidebar is-hidden-mobile">
    {{ partial "components/nav.html" . }}
  </div>

  <div class="dashboard-article">
    {{ partial "components/hero.html" (dict "title" .Title "color" "white") }}
    {{ partial "components/content.html" .Content }}
  </div>

  {{ if .TableOfContents }}
  <div class="dashboard-toc is-hidden-mobile">
    {{ .TableOfContents }}
  </div>
  {{ end }}
</div>

{{ partial "components/footer.html" . }}
