{{ $home     := site.Home.RelPermalink }}
{{ $title    := site.Title }}
{{ $searchOn := .FirstSection.Params.search }}

<nav class="navbar is-primary is-dashboard-fixed">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-hidden-desktop has-text-weight-bold" href="{{ $home }}">
        {{ $title }}
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        {{ if $searchOn }}
        <div class="navbar-item">
          <div class="dropdown" id="search-dropdown">
            <div class="dropdown-trigger">
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input is-radiusless" placeholder="Search" id="search-bar">
                  <span class="icon is-left">
                    <ion-icon name="search"></ion-icon>
                  </span>
                </p>
              </div>
            </div>

            <div class="dropdown-menu" id="search-menu">
              <div class="dropdown-content" id="search-content">
                <!-- dropdown search items generated here -->
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
