{{ $title   := site.Title }}
{{ $desc    := site.Params.description }}
{{ $social  := site.Params.social }}
<footer class="footer has-background-black">
  <section class="hero is-black">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            {{ partial "components/title.html" (dict "title" $title "description" $desc "scale" 2) }}

            <br />

            {{ with $social }}
            {{ partial "components/social-buttons.html" (dict "buttons" .) }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
