{{ $title := .title }}
{{ $size  := .size | default "normal" }}
{{ $desc  := .description }}
{{ $scale := .scale | default 1 }}
{{ $color := .color | default "white" }}
{{ $btns  := .buttons }}
{{ $bold  := .bold | default false }}
{{ $bread := .breadcrumb }}
<section class="hero is-{{ $color }} is-{{ $size }}{{ if $bold }} is-bold{{ end }}">
  {{ with $bread }}
  <div class="hero-head" style="padding-left: 1.5rem;">
    <div class="container">
      {{ partial "components/breadcrumb.html" . }}
    </div>
  </div>
  {{ end }}

  <div class="hero-body">
    <div class="container">
      {{ partial "components/title.html" (dict "title" $title "description" $desc "scale" $scale "title_color" .title_color "desc_color" .desc_color "draft" .draft "new" .new) }}

      {{ with $btns }}
      <div class="buttons hero-buttons are-left">
        {{ range . }}
        {{ partial "components/button.html" . }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
