{{ $lang  := site.Language.LanguageName }}
{{ $langs := site.Home.Translations }}
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link is-arrowless">
    <span class="icon has-text-primary">
      {{ partial "components/icon.html" (dict "icon" "globe") }}
    </span>
    <span>
      {{ $lang }}
    </span>
  </a>

  <div class="navbar-dropdown">
    {{ range site.Home.Translations }}
    <a class="navbar-item" href="{{ .RelPermalink }}">
      {{ .Language.LanguageName }}
    </a>
    {{ end }}
  </div>
</div>
