{{ with .FirstSection }}
<nav class="nav">
  <div class="nav-section">
    <header class="nav-section-header">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </header>

    {{ with .RegularPages }}
    <ul class="nav-section-links">
      {{ range . }}
      <li>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>

  {{ with .Sections }}
  {{ range . }}
  <div class="nav-section">
    <header class="nav-section-header">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </header>

    {{ with .RegularPages }}
    <ul class="nav-section-links">
      {{ range . }}
      <li>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
</nav>
{{ end }}
