{{ with .FirstSection }}
<nav class="nav" role="navigation" aria-label="docs navigation">
  {{ template "section" . }}
</nav>
{{ end }}

{{ define "section" }}
<div class="nav-section">
  <a class="nav-section-title" href="{{ .RelPermalink }}">
    {{ .Title }}
  </a>

  {{ with .RegularPages }}
  <ul class="nav-section-links">
    {{ range . }}
    <li>
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>

{{ with .Sections }}
{{ range . }}
{{ template "section" . }}
{{ end }}
{{ end }}
{{ end }}
