{{ define "link" }}
<a class="navbar-item"{{ with .URL }} href="{{ . | relLangURL }}"{{ end }}>
  {{ .Name }}
</a>
{{ end }}

{{ range . }}
{{ if .HasChildren }}
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link is-arrowless"{{ with .URL }} href="{{ . | relLangURL }}"{{ end }}>
    <span>
      {{ .Name }}
    </span>
    <span class="icon is-small">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </span>
  </a>

  <div class="navbar-dropdown">
    {{ range .Children }}
    {{ template "link" . }}
    {{ end }}
  </div>
</div>
{{ else }}
{{ template "link" . }}
{{ end }}
{{ end }}
