{{ define "link" }}
{{ $url        := .URL | relLangURL }}
{{ $isExternal := hasPrefix .URL "http" }}
<a class="navbar-item"{{ with $url }} href="{{ . }}"{{ end }}{{ if $isExternal }} target="_blank"{{ end }}>
  <span>
    {{ .Name }}
  </span>
  {{ if $isExternal }}
  <span class="icon has-text-primary">
    <ion-icon name="open"></ion-icon>
  </span>
  {{ end }}
</a>
{{ end }}

{{ range . }}
{{ if .HasChildren }}
{{ $url := .URL | relLangURL }}
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link is-arrowless"{{ with $url }} href="{{ . }}"{{ end }}>
    <span>
      {{ .Name }}
    </span>
    <span class="icon has-text-primary">
      <ion-icon size="medium" name="arrow-dropdown"></ion-icon>
    </span>
  </a>

  <div class="navbar-dropdown">
    {{ range .Children }}
    {{ template "link" . }}
    {{ end }}
  </div>
</div>
{{ else }}
{{ template "link" . }}
{{ end }}
{{ end }}
