<div class="navbar-item is-expanded is-hidden-touch" id="search-navbar-item">
  <div class="dropdown" id="search-dropdown">
    <div class="dropdown-trigger">
      <p class="control has-icons-left">
        <input class="input is-static" placeholder="Search" id="search-bar">
        <span class="icon is-medium is-left">
          {{ partial "components/icon.html" (dict "icon" "search") }}
        </span>
      </p>
    </div>
  
    <div class="dropdown-menu" id="search-menu">
      <div class="dropdown-content" id="search-content">
        <!-- dropdown search items generated here -->
      </div>
    </div>
  </div>
</div>
