<div class="navbar-item" id="search-navbar-item">
  <div class="dropdown" id="search-dropdown">
    <div class="dropdown-trigger">
      <div class="field is-horizontal">
        <p class="control has-icons-left">
          <input class="input" placeholder="Search" id="search-bar">
          <span class="icon is-medium is-left">
            <ion-icon size="medium" name="search"></ion-icon>
          </span>
        </p>
      </div>
    </div>
  
    <div class="dropdown-menu" id="search-menu">
      <div class="dropdown-content" id="search-content">
        <!-- dropdown search items generated here -->
      </div>
    </div>
  </div>
</div>
