{{ $scale  := .scale | default 1 }}
{{ $scale1 := add $scale 2 }}
{{ $scale2 := add $scale1 1 }}
{{ $titleC := .title_color | default "black" }}
{{ $descC  := .desc_color | default "black" }}

<p class="title is-size-{{ $scale }} is-size-{{ $scale1 }}-mobile has-text-{{ $titleC }} has-text-weight-light{{ if .description }} is-spaced{{ end }}">
  {{ .title | markdownify }}
</p>

{{ with .description }}
<p class="subtitle is-size-{{ $scale1 }} is-size-{{ $scale2 }}-mobile has-text-{{ $descC }}">
  {{ . | markdownify }}
</p>
{{ end }}
