$padding: 1.75rem
  
.dashboard
  +row
  overflow: auto
  min-height: 100vh

  &-sidebar
    +panel
    flex: 0 0 25rem
    overflow-y: auto
    border-right: 2px solid $light

  &-article
    +fill

  &-toc
    +panel
    padding: $padding
    flex: 0 0 20%
    border-left: 2px solid $light
