.dashboard
  +column
  height: 100vh
  overflow: hidden

  &-main
    +row
    padding-top: $navbar-height
    height: 100%

  &-panel
    flex: 1

    &.is-scrollable
      overflow-y: scroll

    &.sidebar
      +desktop
        flex: 0 0 20rem
      +tablet
        flex: 0 0 15rem

    &.main
      flex: 1
      +column

      .article
        +fill
        padding: 1rem

