$docs-sidebar-width: 20rem

.dashboard
  &-sidebar
    bottom: 0
    top: $navbar-height
    position: fixed
    width: $docs-sidebar-width
    border-right: $sidebar-border
    overflow-y: auto

  &-main
    display: block
    position: relative
    padding-top: $navbar-height

    &-panel
      +column
      height: 100vh

      .article
        flex: 1

    +desktop
      margin-left: $docs-sidebar-width
