// Red border for dev/debugging purposes
=x
  border: 2px solid $red

=flex-size($w)
  flex: 0 0 $w

=sticky
  position: sticky
  position: -webkit-sticky

=panel
  +sticky
  top: 0

.is-panel
  +panel

=scrollable
  overflow-y: auto

.has-top-border
  border: 2px solid $light

.is-narrow-desktop
  +desktop
    width: $content-desktop-width

.is-dashboard-fixed
  top: 0
  position: sticky

.is-tagline
  font-weight: 400

  +desktop
    font-size: 1.5rem
  +mobile
    font-size: 1.25rem

.page
  +column
  height: 100vh
  
  .main
    +fill

.menu-label
  a.is-active
    font-weight: 700

.is-tiny
  font-size: .75rem
