.nav
  a
    color: $dark

    &:hover
      color: $grey

    &.is-active
      +bold
      color: $primary

  &-section
    &-header
      font-size: 1.5rem

    &-links
      margin: 0.5rem 0 0.5rem 1rem
