{{ $defaults  := site.Data.defaults }}
{{ $colors    := site.Params.colors }}
{{ $fonts     := site.Params.fonts }}
{{ $fontSlice := (slice) }}
{{ range $fonts }}
{{ $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{ end }}
{{ $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
{{ $sansSerifFont := (index (where site.Params.fonts ".type" "sans_serif") 0).name | default $defaults.sans_serif_font }}
{{ $monospaceFont := (index (where site.Params.fonts ".type" "monospace") 0).name | default $defaults.monospace_font }}
{{ $primary := $colors.primary | default $defaults.primary_color }}
{{ $secondary := $colors.secondary | default $defaults.secondary_color }}

@charset "utf-8"
@import url({{ $fontsUrl }})

// General-use variables
$twitter-blue: rgb(29, 161, 242)
$slack-aubergine: rgb(74, 21, 75)
$youtube-red: #ff0000
$linkedin-blue: rgb(40,103,178)
$facebook-blue: rgb(59, 89, 152)

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Bulma variable overrides
$primary: {{ $primary }}
$secondary: {{ $secondary }}
$link: $primary
$family-sans-serif: "{{ $sansSerifFont }}", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace: "{{ $monospaceFont }}", monospace
$navbar-dropdown-radius: 0
$navbar-dropdown-arrow: $secondary
$navbar-dropdown-border-top: none
$navbar-height: 4rem
$navbar-padding-vertical: 0.25rem
$radius: 0
$input-border-color: none
$input-shadow: none
$input-background-color: $white-bis

// Site-specific variables
$admonition-border-radius: .5rem
$admonition-padding: 1.5rem 2rem
$content-desktop-width: 80%

@import "bulma/sass/utilities/derived-variables"

$colors: mergeColorMaps($colors, ("twitter-blue": ($twitter-blue, $white), "secondary": ($secondary, $white), "slack-aubergine": ($slack-aubergine, $white), "youtube-red": ($youtube-red, $white), "linkedin-blue": ($linkedin-blue, $white), "facebook-blue": ($facebook-blue, $white)))

// TODO: make this import more finegrained
@import "bulma/bulma"

// Utitlies (must be imported first)
@import "functions"
@import "helpers"

// Component-specific files
@import "admonition"
@import "dashboard"
@import "nav"
