{{ $defaults  := site.Data.defaults }}
{{ $fonts     := site.Params.fonts }}
{{ $fontSlice := (slice) }}
{{ range $fonts }}
{{ $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{ end }}
{{ $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
{{ $sansSerifFont := (index (where site.Params.fonts ".type" "sans_serif") 0).name | default $defaults.sans_serif_font }}
{{ $monospaceFont := (index (where site.Params.fonts ".type" "monospace") 0).name | default $defaults.monospace_font }}
{{ $texture            := site.Params.texture }}

@charset "utf-8"
@import url({{ $fontsUrl }})

// Site-specific variables
$tract-magenta: #c51162
$tract-orange: #ffab00

.toc
  position: fixed

// General-use variables
$twitter-blue: rgb(29, 161, 242)

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Bulma variable overrides
$primary: $tract-magenta
$secondary: $tract-orange
$red: #ff1744
$orange: #ff9100
$yellow: #ffd740
$green: #00e676
$link: $primary
$family-sans-serif: "{{ $sansSerifFont }}", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace: "{{ $monospaceFont }}", monospace
$box-padding: 1rem
$navbar-height: 4rem
$modal-card-head-radius: 0
$modal-card-foot-radius: 0
$modal-background-background-color: $primary

$nav-background-color: $primary

@import "bulma/sass/utilities/derived-variables"

$colors: mergeColorMaps($colors, ("twitter-blue": ($twitter-blue, $white), "secondary": ($secondary, $white), "magenta": ($tract-magenta, $white)))

@import "bulma/bulma"

{{ with $texture }}
{{ $slug := . | urlize }}
{{ $url := printf "https://www.transparenttextures.com/patterns/%s.png" $slug }}
.home-hero, .navbar
  background-image: url({{ $url }})
{{ end }}

=flex
  display: flex

=column
  +flex
  flex-direction: column

=row
  +flex
  flex-direction: row

=fill
  flex: 1

@import "admonition"
@import "dashboard"

$docs-content-desktop-width: 75%

.docs-content
  +desktop
    width: $docs-content-desktop-width


.pagination + .git-info
  margin-top: 5rem


.nav
  background-color: $nav-background-color
  height: 100%
  padding: 1rem

  a
    color: $white

    &:hover
      color: invert($white)

  &-section
    & + &
      margin-top: .75rem

      &:hover
        color: $black

    &-title
      font-size: 1.3rem

    &-pages
      margin-top: .5rem
      margin-left: 1rem

      &-link
        font-size: 1rem

        & + &
          margin-top: .25rem

hr.extra-padding
  margin: 4rem 0
