{{ $display   := .FirstSection.Params.display }}
{{ $dashboard := eq $display "dashboard" }}
<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}
      {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "head-js.html" . }}
  </head>
  <body class="{{ if $dashboard }} dashboard is-fullheight{{ end }} has-navbar-fixed-top">
    {{ block "main" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
    {{ partial "search.html" . }}
  </body>
</html>
