{{ $lang   := site.LanguageCode }}
{{ $isHome := .IsHome }}
<!DOCTYPE html>
<html lang="{{ $lang }}">
  <head>
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}
      {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
  </head>
  <body class="page">
    <main class="main">
      {{ block "main" . }}
      {{ end }}
    </main>

    {{ if $isHome }}
    {{ partial "footer.html" . }}
    {{ end }}
    {{ partial "javascript.html" . }}
  </body>
</html>
