{{ $display  := .FirstSection.Params.display }}
{{ $fixedNav := ne $display "dashboard" }}
<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}
      {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "head-js.html" . }}
  </head>
  <body class="page{{ if $fixedNav }} has-navbar-fixed-top{{ end }}">
    {{ block "main" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
    {{ partial "search.html" . }}
  </body>
</html>
