{{ define "title" }}
{{ site.Title }} | {{ .CurrentSection.Title }}
{{ end }}

{{ define "main" }}
{{ $type := .FirstSection.Params.display }}
{{ if not $type }}
<main class="main">
  {{ partial "components/navbar.html" (dict "color" "primary") }}
  {{ partial "components/hero.html" (dict "title" .Title "description" .Params.description "size" "medium") }}
  {{ partial "components/content.html" .Content }}
</main>
{{ else if eq $type "dashboard" }}
{{ partial "dashboard/dashboard.html" . }}
{{ else }}
{{ errorf "section display type '%s' not recognized" $type }}
{{ end }}
{{ end }}
