{{ $term := .Data.Term }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <p class="title has-text-weight-light is-spaced">
        Pages with the tag <span class="has-text-primary">{{ $term }}</span>
      </p>

      <br />

      <p class="subtitle">
        All tags:
      </p>

      <div class="tags">
        {{ range $tag, $taxonomy := site.Taxonomies.tags }}
        {{ $url := printf "tags/%s" $tag | relURL }}
        <a class="tag is-primary is-light" href="{{ $url }}">
          #{{ $tag }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
