<div class="admonition is-{{ .type }}">
  <div class="columns">
    <div class="column is-1">
      <span class="icon has-text-{{ .type }}">
        {{ partial "components/icon.html" (dict "icon" .icon "size" "medium") }}
      </span>
    </div>

    <div class="column">
      <div class="content">
        {{ with .title }}
        <p class="title is-size-4 is-size-5-mobile">
          {{ . | markdownify }}
        </p>
        {{ end }}

        {{ .content | markdownify }}
      </div>
    </div>
  </div>
</div>

