{{ $server := site.IsServer }}
{{ $app    := resources.Get "js/app.js" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
{{ if $server }}
<script src="{{ $app.RelPermalink }}"></script>
{{ else }}
{{ $prodApp := $app | fingerprint }}
<script src="{{ $prodApp.RelPermalink }}" integrity="{{ $prodApp.Data.Integrity }}"></script>
{{ end }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js" integrity="sha256-Yrh3VGzE4d9b4KANknPJAhfcKt9SgHTL0v/FrJFoPzw=" crossorigin="anonymous"></script>
