{{ $server := site.IsServer }}
{{ $app    := resources.Get "js/app.js" | resources.ExecuteAsTemplate "js/app.js" . }}
{{ $icons  := site.Params.icon_set | default site.Data.defaults.icon_set }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{ if $server }}
<script src="{{ $app.RelPermalink }}"></script>
{{ else }}
{{ $prodApp := $app | fingerprint }}
<script src="{{ $prodApp.RelPermalink }}" integrity="{{ $prodApp.Data.Integrity }}"></script>
{{ end }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js" integrity="sha256-Yrh3VGzE4d9b4KANknPJAhfcKt9SgHTL0v/FrJFoPzw=" crossorigin="anonymous"></script>

{{ if eq $icons "ionicons" }}
<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
{{ end }}
