{{ if .IsTranslated }}
{{ $lang         := .Language.LanguageName }}
{{ $translations := .Translations }}
<div class="navbar-item">
  <div class="dropdown is-right is-hoverable">
    <div class="dropdown-trigger">
      <button class="button is-secondary" aria-haspopup="true" aria-controls="dropdown-menu">
        <span class="icon">
          <ion-icon name="globe"></ion-icon>
        </span>
        <span>
          {{ $lang }}
        </span>
  
        <span class="icon">
          <ion-icon name="arrow-dropdown"></ion-icon>
        </span>
      </button>
    </div>

    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        {{ range $translations }}
        <a class="dropdown-item" href="{{ .RelPermalink }}">
          {{ .Language.LanguageName }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
