{{ $here := .here }}
{{ range .menu }}
{{ $isHere := eq $here (.URL | relURL) }}
{{ if .HasChildren }}
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link"{{ with .URL }} href="{{ . }}"{{ end }}>
    {{ .Name }}
  </a>

  <div class="navbar-dropdown">
    {{ range .Children }}
    <a class="navbar-item"{{ with .URL }} href="{{ . }}"{{ end }}>
      {{ .Name }}
    </a>
    {{ end }}
  </div>
</div>
{{ else }}
{{ $isExternal := hasPrefix .URL "http" }}
<a class="navbar-item" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
  <span>
    {{ .Name }}
  </span>
  {{ if $isExternal }}
  &nbsp;
  <small>
    <span class="icon is-small">
      <ion-icon name="open"></ion-icon>
    </span>
  </small>
  {{ end }}
</a>
{{ end }}
{{ end }}
