{{ $here := .here }}
{{ range .menu }}
{{ $isHere := eq $here (.URL | relURL) }}
{{ if .HasChildren }}
<div class="navbar-item">
  <div class="dropdown is-right is-hoverable">
    <div class="dropdown-trigger">
      <button class="button is-primary is-outlined is-inverted" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>
          {{ .Name }}
        </span>
  
        <span class="icon">
          <ion-icon name="arrow-dropdown"></ion-icon>
        </span>
      </button>
    </div>

    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        {{ range .Children }}
        {{ $isExternal := hasPrefix .URL "http" }}
        <a class="dropdown-item" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
          <span>
            {{ .Name }}
          </span>
          {{ if $isExternal }}
          &nbsp;
          <small>
            <span class="icon is-small has-text-primary">
              <ion-icon name="open"></ion-icon>
            </span>
          </small>
          {{ end }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ else }}
{{ $isExternal := hasPrefix .URL "http" }}
<a class="navbar-item" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
  <span>
    {{ .Name }}
  </span>
  {{ if $isExternal }}
  &nbsp;
  <small>
    <span class="icon is-small">
      <ion-icon name="open"></ion-icon>
    </span>
  </small>
  {{ end }}
</a>
{{ end }}
{{ end }}
