{{ $home   := site.BaseURL }}
{{ $title  := site.Title }}
{{ $menu   := site.Menus.main }}
{{ $social := site.Params.social }}
{{ $here   := .RelPermalink }}
<nav class="navbar is-fixed-top" role="navigation" aria-label="dropdown-navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="{{ $home }}">
        {{ $title }}
      </a>

      {{ if $menu }}
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      {{ end }}
    </div>

    {{ if or $menu $social }}
    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-end">
        {{ with $menu }}
        {{ partial "navbar-menu.html" (dict "menu" . "here" $here) }}
        {{ end }}

        {{ with $social }}
        <div class="navbar-item">
          {{ partial "components/social-buttons.html" (dict "buttons" .) }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</nav>
