{{ $indexUrl := printf "%s/index.json" .Lang | relURL }}
{{ $result   := T "result" }}
{{ $results  := T "results" }}
{{ $found    := T "found" }}
<script>
  $(() => {
    const searchBar = $('#search-bar'),
      searchMenu = $('#search-menu'),
      searchContent = $('#search-content');

      const options = {
        shouldSort: true,
        threshold: 0.6,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: [
          {
            name: 'title',
            weight: 0.7
          },
          {
            name: 'tags',
            weight: 0.8
          },
          {
            name: 'summary',
            weight: 0.5,
          },
          {
            name: 'body',
            weight: 0.3
          }
        ]
      }

      fetch({{ $indexUrl }})
        .then((res) => {
          return res.json();
        })
        .then((idx) => {
          idx.forEach((item) => {
            console.log(item.tags);
          });

          const fuse = new Fuse(idx, options);

          searchBar.on('focusin', () => {
            searchBar.on('keyup', () => {
              const term = searchBar.val().toLowerCase();
              
              if (term) {
                const results = fuse.search(term);
                const numResults = results.length;

                if (numResults > 0) {
                  searchMenu.show();
                  searchContent.empty();

                  var numAdded = 0;

                  const numTerm = (numResults == 1) ? '{{ $result }}' : '{{ $results }}';

                  const numItems = `<div class="dropdown-item has-text-weight-bold">${numResults} ${numTerm} ${'{{ $found }}'}</div>
                    <span class="dropdown-divider"></span>`;

                  searchContent.append(numItems);

                  results.forEach((res) => {
                    const item = `<a class="dropdown-item" href="${res.url}">
                      ${res.title}
                    </a>`;

                    searchContent.append(item);

                    searchContent.show();
                  });
                }
              } else {
                searchMenu.hide();
              }
            });
          });
        });
  });
</script>
