{{ $hasToc := gt (len .TableOfContents) 32 }}

<div class="page">
  {{ partial "components/navbar.html" (dict "wide" true "fixed" true "shadow" true) }}
  <div class="dashboard">
    <div class="dashboard-sidebar has-border-right is-hidden-touch">
      {{ partial "components/nav.html" . }}
    </div>

    <div class="dashboard-main">
      {{ partial "components/hero.html" (dict "title" .Title "description" .Params.description "size" "normal" "breadcrumb" . "scale" 2 "title_color" "dark" "desc_color" "grey-dark" "draft" .Draft "new" .Params.new "tags" .Params.tags) }}
      {{ partial "components/content.html" .Content }}
      {{ partial "components/pagination.html" . }}
      {{ partial "components/git-info.html" . }}  
    </div>

    <div class="dashboard-toc is-hidden-touch">
      {{ if $hasToc }}
      {{ partial "components/toc.html" . }}
      {{ end }}
    </div>
  </div>

  {{ partial "components/footer.html" . }}
</div>

