{{ $title   := site.Title }}
{{ $desc    := site.Params.description | markdownify }}
{{ $buttons := site.Params.buttons.main }}
{{ $social  := site.Params.social }}
<section class="hero is-light is-fullheight home-hero">
  <div class="hero-body">
    <div class="container">
      <p class="title has-text-primary is-size-1 has-text-weight-light{{ if $desc }} is-spaced{{ end }}">
        {{ $title }}
      </p>

      <hr class="has-background-black" />

      {{ with $desc }}
      <p class="subtitle is-size-3 is-size-4-mobile has-text-weight-light">
        {{ . }}
      </p>
      {{ end }}

      {{ with $buttons }}
      <div class="buttons">
        {{ range . }}
        {{ $color          := .color | default "primary" }}
        {{ $isExternalLink := hasPrefix .url "http" }}
        {{ $text           := .text | markdownify }}
        <a class="button{{ with .size }} is-{{ . }}{{ end }} is-{{ $color }} is-borderless is-radiusless" href="{{ .url }}"{{ if $isExternalLink }} target="_blank"{{ end }}>
          {{ with .icon }}
          <span class="icon">
            <ion-icon name="{{ . }}"></ion-icon>
          </span>
          {{ end }}
          <span>
            {{ $text }}
          </span>
        </a>
        {{ end }}
      </div>
      {{ end }}

      {{ with $social }}
      <div class="buttons">
        {{ partial "social-buttons" (dict "social" . "full" true "size" "small") }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
