{{ $title   := site.Title }}
{{ $desc    := site.Params.description | markdownify }}
{{ $buttons := site.Params.buttons.main }}
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-1 is-size-2-mobile has-text-weight-light{{ if $desc }} is-spaced{{ end }}">
        {{ $title }}
      </p>

      {{ with $desc }}
      <p class="subtitle">
        {{ . }}
      </p>
      {{ end }}

      {{ with $buttons }}
      <div class="buttons">
        {{ range . }}
        {{ $color          := .color | default "primary" }}
        {{ $isExternalLink := hasPrefix .url "http" }}
        {{ $text           := .text | markdownify }}
        <a class="button{{ with .size }} is-{{ . }}{{ end }} is-{{ $color }} is-borderless is-radiusless is-outlined is-inverted" href="{{ .url }}"{{ if $isExternalLink }} target="_blank"{{ end }}>
          {{ with .icon }}
          <span class="icon">
            <i class="{{ . }}"></i>
          </span>
          {{ end }}
          <span>
            {{ $text }}
          </span>
        </a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
