{{ $home     := site.BaseURL }}
{{ $title    := site.Title }}
{{ $desc     := site.Params.description | markdownify }}
{{ $buttons  := site.Params.buttons.main }}
{{ $mainMenu := site.Menus.main }}
{{ $here     := .RelPermalink }}
<section class="hero is-primary is-bold is-medium" id="home-hero">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ $home }}">
            {{ $title }}
          </a>
        </div>

        {{ with $mainMenu }}
        <div class="navbar-menu">
          <div class="navbar-end">
            {{ partial "navbar-menu.html" (dict "menu" . "here" $here) }}
          </div>
        </div>
        {{ end }}
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <p class="title is-size-1 is-size-2-mobile has-text-weight-light{{ if $desc }} is-spaced{{ end }}">
        {{ $title }}
      </p>

      {{ with $desc }}
      <p class="subtitle is-size-3 is-size-4-mobile has-text-weight-light">
        {{ . }}
      </p>
      {{ end }}

      {{ with $buttons }}
      {{ partial "home/hero-buttons.html" . }}
      {{ end }}
    </div>
  </div>
</section>

