{{- $theme := .Get "theme" | default "" -}}
{{- $type := .Get "type" | default "star" -}}
{{- $defaultCount := "true" -}}
{{- $extraPath := cond (eq $type "fort") "/fork" "/issues" -}}
{{- $theme := cond (eq $theme "dark") "no-preference: dark; light: dark; dark: dark;" "no-preference: light; light: light; dark: light;" -}}
{{- $showCount := .Get "count" | default $defaultCount -}}
{{- $btnSize := .Get "size" default  "large" -}}
{{- $repo := .Get "repo" -}}
{{- $btnLabel := .Get "label" | default $type  -}}
{{- $url := printf "https://github.com/%s/%s" $repo $extraPath -}}
{{- $label := printf "%s %s on GitHub" ($type | title) $repo -}}
<a class="github-button" href="{{ $url }}" data-size="{{ $btnSize }}"{{ if $theme }} data-color-scheme="{{ $theme }}"{{ end }} data-show-count="{{ $showCount }}" aria-label="{{ $label }}">{{ $btnLabel | title }}</a>
